.contacts {
	display: none;

	@media screen and (min-width: 768px) and (max-width: 1199px) {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	@media screen and (min-width: 1200px) {
		display: flex;
		flex-direction: row;
		gap: 50px;
	}
}

.contacts__link {
	color: var(--second-txt-color);
	font-weight: 500;
	font-size: 12px;
	line-height: calc(14 / 12);
	letter-spacing: 0.02em;

	display: flex;
	align-items: center;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover,
	&:focus {
		color: var(--accent-txt-color);
	}

	@media screen and (min-width: 768px) {
	}
	@media screen and (min-width: 1200px) {
		font-size: 14px;
		line-height: calc(16 / 12);
		padding-top: 32px;
		padding-bottom: 32px;
	}
}

.contacts__icon {
	fill: currentColor;
	margin-right: 10px;
	align-items: center;
	text-align: inherit;
	max-width: 14px;
	max-height: 14px;

	@media screen and (min-width: 1200px) {
		max-width: 16px;
		max-height: 16px;
	}
}
