.header__logo {
	font-family: var(--second-font);
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	margin-right: 93px;
	padding-top: 24px;
	padding-bottom: 25px;
}

.logo-web {
	color: var(--accent-txt-color);
}
